<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runloop_Timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0309C5D1E62D370006D7C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0309C761E62D370006D7C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0309C811E62D371006D7C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
